* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #ff6961;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff3d3d;
}